body {
  width: 1440px;
  height: 1024px;
  border-radius: 8px;
  /* Very Light Gray */
  background: #f5f6fa;
}

#root {
  position:relative;
  top: 150px;
  width: 730px;
  height: 144px;
  left: 355px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  /* White */
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 4px 4px 0px #00000040;
}
